<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h2>Edit Product</h2>
                <form action="/admin/edit-product/?id={{product._id}}" method="POST" enctype="multipart/form-data">
                        <label for="">Name</label>
                        <input type="text" name="name" value="{{product.name}}" class="form-control" id="">

                        <label for="">Category</label>
                        <input type="text" name="category" value="{{product.category}}" class="form-control" id="">

                        <label for="">Price</label>
                        <input type="text" value="{{product.price}}" name="price" class="form-control" id="">

                        <label for="">Description</label>
                        <input type="text" name="description" value="{{product.description}}" class="form-control" id="">

                        <label for="">Image</label><br>
                        <img src="/product-images/{{product._id}}.jpg" id="img" alt="product image" style="width: 100px; height:auto;">
                        <input name="image" type="file" onchange="viewimage(event)"  class="form-control" id="">

                        <button type="submit" class="btn btn-success mt-4">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    function viewimage(event) {
        document.getElementById('img').src=URL.createObjectURL(event.target.files[0])
    }
</script>