<section>
    <div class="container">
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>

                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    {{!-- {{#each this.productDetails}} --}}
                    <td><img src="product-images/{{this.product._id}}.jpg" alt="no image found"
                            style="width: 70px;height:70px"></td>
                    <td>{{this.product.name}}</td>
                    {{!-- {{/each}} --}}
                    <td>{{this.product.price}}</td>
                    <td>
                        <button class="cart-item-count mr-3"
                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1)">-</button><span
                            id="{{this.product._id}}">
                            {{this.quantity}}</span> <button class="cart-item-count ml-3"
                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1)">+</button>
                    </td>
                    <td>
                        <button onclick="remove('{{this._id}}','{{this.product._id}}')"
                            class="btn btn-danger">Remove</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <hr>
        <div class="float-right pr-5">
            <h2 class="float-end">Total Price : Rs.1000</h2>
            <a href="/place-order" class="mt-3 btn btn-success mt-3" style="width: 100%;"><b>Place Order</b> </a>
        </div>
    </div>
</section>